################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/learn-azure/v15
/packages
/Backend.API/obj/Debug
/Backend.API.Tests/obj/Debug
/.vs/learn-azure/DesignTimeBuild
/azure.services/obj/Debug
/Backend.API.Tests/bin/Debug
/azure.services/bin/Debug
/azure.services.interfaces/obj/Release
/WebAPI/bin
/WebAPI/obj/Release
/core/bin/Debug
/core/obj/Debug
/core/obj
/core.interfaces/bin/Debug
/core.interfaces/obj/Debug
/WebAPI/obj/Debug
